.featuresCard {
    padding: 20px 0;
}

.card {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.icon img {
    width: 2rem;
    height: auto;
}

.card h3 {
    font-weight: 400;
}

@media (max-width: 350px) {
    .card h3 {
        font-size: 1rem;
    }
}